<!-- Inheriting from base.html template -->
{% extends 'activities_base.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/events.css' %}" />
<title>Events</title>

{% endblock %}

{% block main_section %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="head-div mx-auto">
                <h1 class="header">Events</h1>
            </div>
        </div>
    </div>
    <div class="events">
        {% for event in events %}
            <div id="card{{event.id}}" class="event js-slidein">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto
                        {% if forloop.counter|divisibleby:2 %}
                        order-last
                        {% endif %}
                    ">
                        <div class="image">
                            <img src="{{event.image}}" class="img-fluid event-img mx-auto" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <p class="title"><strong>{{event.title}}</strong></p>
                        <div class="description">{{event.description}}</div>
                        <a class="btn
                            {% if forloop.counter0|divisibleby:2 %}
                            float-right
                            {% endif %}
                        " href="{{event.link}}">
                            REGISTER
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}



{% block scripts %}
<!-- Add all javascript code specific to this page here -->
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}