<!-- Inheriting from base.html template -->
{% extends 'activities_base.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}" />
<title>Projects</title>

{% endblock %}

{% block main_section %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="head-div mx-auto">
                <h1 class="header">Projects</h1>
            </div>
        </div>
    </div>
    <div class="projects">
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4 mx-auto
                    {% if forloop.counter|divisibleby:2 %}
                    order-last
                    {% endif %}
                ">
                    <div class="image">
                        <img src="{{project.image}}" class="project-img" />
                    </div>
                </div>
                <div class="col-md-8">
                    <span class="title">{{project.title}}</span>
                    <div class="contributors">By: {{project.contributors}}</div>
                    <div class="description">{{project.description}}</div>
                    <div class="flex">
                        <a href="{{project.github}}" target="_blank">
                            <div class="icon icon1" id="icon-1">
                              <i class="mdi mdi-github"></i>
                            </div>
                        </a>
                        <a href="{{project.link}}" target="_blank">
                            <div class="icon icon2" id="icon-2">
                                <i class="fas fa-globe"></i>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}



{% block scripts %}
<!-- Add all javascript code specific to this page here -->

{% endblock %}