<!-- Inheriting from base.html template -->
{% extends 'activities_base.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}" />
<title>Projects</title>

{% endblock %}

{% block main_section %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="head-div mx-auto">
                <h1 class="header">Projects</h1>
            </div>
        </div>
    </div>
    <div class="projects">
        {% for project in projects %}
            <div id="card{{project.id}}" class="project js-slidein">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto
                        {% if forloop.counter|divisibleby:2 %}
                        order-last
                        {% endif %}
                    ">
                        <div class="image">
                            <img src="{{project.image}}" class="img-fluid project-img mx-auto" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <span class="title"><strong>{{project.title}}</strong></span>
                        <div class="contributors">By: {{project.contributors}}</div>
                        <div class="description">{{project.description}}</div>
                        <span class="
                            {% if forloop.counter0|divisibleby:2 %}
                            float-right
                            {% endif %}
                        ">
                            <a href="{{project.github}}" target="_blank">
                                <span class="icon icon1" id="icon-1">
                                <i class="mdi mdi-github"></i>
                                </span>
                            </a>
                            <a href="{{project.link}}" target="_blank">
                                <span class="icon icon2" id="icon-2">
                                    <i class="fas fa-globe"></i>
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}



{% block scripts %}
<!-- Add all javascript code specific to this page here -->
<script src="{% static 'js/projects.js' %}"></script>
{% endblock %}