<!-- Inheriting from base.html template -->
{% extends 'members_base.html' %}
{% load static %}

{% block head_block %}
<!-- Add title tag and css specific to this page here -->
<link rel="stylesheet" href="{% static 'css/members.css' %}">
<title>Members - Team .EXE</title>
{% endblock %}

{% block main_section %}
<div class="container">
    <div class="members">
        <div class="col-12 mx-auto">
            <h2 class="heading mx-auto">Alumni</h2>
        </div>
        <div class="final_year">
            <div class="row">
                    {% for member in alumni %}
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center">
                        {% include 'member_card.html' %}
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Add all javascript code specific to this page here -->
<script src="{% static 'js/alumni.js' %}"></script>

{% endblock %}