<!-- Inheriting from base.html template -->
{% extends 'members_base.html' %}
{% load static %}

{% block head_block %}
<!-- Add title tag and css specific to this page here -->
<link rel="stylesheet" href="{% static 'css/members.css' %}">
<title>Members - Team .EXE</title>
{% endblock %}

{% block main_section %}
<div class="container">
    <div class="members">
        <!-- <div class="row"> -->
            <div class="col-12 mx-auto">
                <h1 class="heading mx-auto">Final Year</h1>
            </div>
            <div class="final_year">
                <div class="row">
                    {% for i in '0123456789'|make_list %}
                    {% for member in finalYear %}
                        <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center">
                            {% include 'member_card.html' %}
                        </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 mx-auto">
                <h1 class="heading mx-auto">Third Year</h1>
            </div>
            <div class="coordinator_section">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-8 col-lg-6 mx-auto">
                        <div class="row">
                        {% for member in coordinators %}
                        <div class="col-6 text-center">
                            {% include 'member_card.html' %}
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>    
            </div>
            <div class="third_year">
                <div class="row">
                    {% for i in '0123456789'|make_list %}
                    {% for member in thirdYear %}
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center">
                        {% include 'member_card.html' %}
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>    
            </div>
            <div class="col-12 mx-auto">
                <h1 class="heading mx-auto">Second Year</h1>
            </div>
            <div class="second_year">
                <div class="row">
                    {% for i in '0123456789'|make_list %}
                    {% for member in secondYear %}
                        <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center">
                            {% include 'member_card.html' %}
                        </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 mx-auto">
                <h1 class="heading mx-auto">First Year</h1>
            </div>
            <div class="first_year">
                <div class="row">
                    {% for i in '0123456789'|make_list %}
                    {% for member in firstYear %}
                        <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center">
                            {% include 'member_card.html' %}
                        </div>
                    {% endfor %}
                    {% endfor %}
                </div>    
            </div>
        <!-- </div> -->
    </div>
</div>



{% endblock %}

{% block scripts %}
<!-- Add all javascript code specific to this page here -->
<script src="{% static 'js/members.js' %}"></script>

{% endblock %}