<div class="member-card js-slidein px-2 px-sm-1 px-md-3 ">
    <div class="img-container">
        <img class="member-image img-fluid" src="{{member.imageURL}}">
        <div class="member-overlay">
            <p class="tagline">{{member.tagline}}</p>
            <div class="social-links    ">
                <a target="_blank" href="{{member.linkedin}}">
                    <div class="flex icon icon1" id="icon-1">
                        <i class="mdi mdi-linkedin"></i>
                    </div>
                </a>
                <a target="_blank" href="{{member.github}}">
                    <div class="flex icon icon2" id="icon-2">
                        <i class="mdi mdi-github"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <p class="member-name">{{member.name}}</p>
    {% if member.position != "." %}
        <p class="member-position">{{member.position}}</p>
    {% endif %}
</div>