.container{
    padding-top: 150px;
    background: linear-gradient(rgba(11, 13, 19, 0.76) , rgba(0, 0, 0, 0.616));
}

.header{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 4px rgb(134, 207, 255), 0 4px rgb(95, 92, 92);
}

.projects{
    margin-top: 30px;
    margin-bottom:30px;
    padding: 20px;
}

.project {
    margin: 20px 0;
    
    border: 1px solid #00d4d9;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00d4d9, #2ecc71);
    border-radius: 20px;
    background-image: linear-gradient(black, black),linear-gradient(to left, #00d4d9, #2ecc71);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 10px #7a989c;
    margin-bottom: 30px;
}

.project_con{
    padding: 15px;
}


.test{
    border-image-source: linear-gradient(to left, #2ecc71 , #00d4d9);
    background-image: linear-gradient(black, black),linear-gradient(to left,  #2ecc71  ,#00d4d9);
}

.project-img{
    display: block;
    border-radius: 20px;
    position: relative;
}


.title{
    font-size: 40px;
    font-weight: 600;
    color: #00b4d8;
    font-weight: 400;
    padding-top: 5px;
}

.order-last + .p .title{
    color: #2ecc71;
}


.contributors{
    margin-top: 5px;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 26px;
}
.description{
    color: #858585;
    font-size: 15px;
    text-align: justify;
}


.icon1{
    margin-right: 15px;
    font-size: 30px;
    color: #95a5a6;
}

.icon1:hover, .icon1:focus, .icon1:active{
    color: #2ecc71;
    text-decoration: none;
    outline: 0;
}

.icon2{
    color: #95a5a6;
    font-size: 25px;
}

.icon2:hover{
    color: #00b4d8;
}

.img_c{
    display: flex;
    align-items: center;
    /* flex: 0 0 40%;
    max-width: 40%; */
}


@media only screen and (max-width: 768px){
    .container{
        max-width: 98%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 100px;
    }

    .img_c , .p{
        padding: 0 5px; 
        margin: 0;    
        flex: unset;   
        max-width: unset;
    }
    .project{
        margin: 0;
        margin-bottom: 20px;
    }
    .project-img{
        top : 0;
    }
    .image{
    margin-bottom: 10px;
    }

    .title{
        font-size: 28px;
    }

    .contributors{
        font-size: 17px;
    }

    .order-last{
        all: unset;
    }

    .project_con{
        margin-bottom: 40px;
    }

    .description{
        font-size: 15px;
    }

    .projects{
        padding: 5px;
    }

    .header{
        font-size: 50px;
    }

    .project{
    border: 0;
    border-image-slice: 0;
    box-shadow: 0 0 0px #7a989c;
    border-image-source: unset;
    background-image: unset;
    
    }

}