.container{
    padding-top: 170px;
}

.header{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px rgb(134, 207, 255), 0 3px rgb(95, 92, 92);
}

.projects{
    margin-top: 40px;
}
.project-img{
    width: 300px;
    height: 310px;
    border-radius: 20px;
}
.title{
    font-size: 36px;
    color: #fff;
    font-weight: 400;
}
/* .no{
    font-size: 36px;
    font-weight: 10000;
    color: #fff;
    margin-right: 20px;
} */

/* .sNo{
    display: flex;
    flex-direction: row;
} */
.contributors{
    color: #fff;
}
.description{
    color: #fff;
}