body{
    background-attachment: fixed;
    background: radial-gradient(ellipse at bottom, #1f3146 0%, #000000 100%);
}

#canvas{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
}


.container{
    padding-top: 100px;
    max-width: 1050px !important;
}

.heading{
    margin: 10px 0;
    margin-top: 60px;
    font-size: 50px;
    font-weight: 600;
    color: #7ed6df;
    text-align: center;
}

.alumni_section{
    margin-top: 50px;
    margin-bottom: 8%;
}

.member-card {
    padding-top: 25px;
    padding-bottom: 25px;
}

.member-name{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 0;
}

.member-position{
    font-size: 20px;
    color: #1abc9c;
}

.mem_pos{
    font-size: 30px;
    color: #1abc9c;
    margin-bottom: 30px;
    text-align: center;
}

.img-container{
    position: relative;
    border-radius: 50%;
    transition: .5s all;
    overflow: hidden;
}

.member-overlay{
    position: absolute;
    top: -230px;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(11, 13, 19, 0.76) , rgba(0, 0, 0, 0.616));
    opacity: 0;
    transition: all 0.5s;
    outline: 1.5px solid white;
    outline-offset: 15px;
    text-align: center;
    
}

.tagline{
    padding: 0 10px ;
    font-size: 13px;
    position: relative;
    top: 30%;
    color: #7ed6df;
    text-shadow : 0 0 10px #000;
    text-align: center;
}

.social-links{
    position: relative;
    top: 43%;
    margin: auto;
}


.icon{
    color: #ffffff;
    font-size: 20pt;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.icon:hover {
    box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
    transform: scale(0.9);
}

.icon1{
    margin-right: 5%;
}

.mdi{
    position: relative;
    top: 10%;
}

.icon1:hover{
    background-color: #0e76a8;
}

.icon2:hover{
    background-color: #2a2e2b;
    box-shadow: 0 0 0 3px rgba(2, 44, 95, 0.1);
    outline: 0;
}

.executive_section{
    margin-top: 10%;
    margin-bottom: 20%;
}

.img-container:hover{
    border-radius: 0;
}

.img-container:hover  .member-overlay{
    opacity: 1;
    top: 0;
    outline-offset: -10px;
}

/* Slidein animation */
.js-slidein {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transition: all 1s ease-in-out;
    transition: all 600ms ease-in-out;
}

.js-slidein-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@media only screen and (max-width: 768px) {
    .heading{
        font-size: 35px;
    }
    .social-links{
        position: relative;
        top: 23%;
        margin: auto;
    }
    .icon1{
        margin-right: 2%;
    }
    .member-name{
        font-size: 16px;
    }
    .member-position{
        font-size: 17px;
    }
    .mem_pos{
        font-size: 25px;
    }
}


.message{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 23px;
    margin-bottom: 35px;
}