@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing:border-box;
    transition: .5s all;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #000;
    margin:0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif !important;
}

::selection {
    color: #fff;
    background: transparent;
}
  

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  } 


/************************************ Main Section ******************************/

.main{
    height: 100%;
}

/* // for small sized devices - mobile phones */

@media only screen and (max-width:640px){
    .logo{
        width: 120px !important;
    }
    .navbar{
        background-color:hsl(204 100% 5%) !important;
    }
}

@keyframes navbar-anim {
    from {top: -200px;}
    to {top: 0;}
}

/* **************navbar*************** */

.navbar{
    position: absolute;
    background: linear-gradient(rgba(11, 13, 19, 0.363) , rgba(0, 0, 0, 0.233));
    width: 100%;
    z-index: 100;
    animation-name: navbar-anim;
    animation-duration: 1.5s;
}

.navbar-toggler:focus, .navbar-toggler:active{
    outline: 0;
}

.logo{
    width: 150px;
    transition: .2s;
}

.logo:hover{
    filter: drop-shadow(1px 1px 28px rgb(134, 207, 255));
}

.nav-item{
    margin-left: 10px;
}

.nav-link{
    font-size: 18px;
    color: #ffffff;
}

li{
    position: relative;
    display: inline-block;
    padding: 0px 15px;
}

.link{
    position: relative;
}

.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #00b4d8;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.link:hover:after{
width: 100%;
left: 0;
background: #00b4d8;
/* color: #00b4d8; */
}
  
.link:hover, .link:focus, .link:active{
    color: #00b4d8;
}









/*************************************** Footer **********************************/

@keyframes toBottomFromTop {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }

footer {
    padding: 25px 0 22px 0;
    position: relative;
    text-align: center;
    background: #040710;
    opacity: 0.7;
}

.f-logo{
    display: inline-block;
    margin-bottom: 5px;
}

.f-logo img{
    width: 130px;
}

footer .icon-wrap{
    display: inline-flex;
}
footer .icon-wrap .icon {
cursor: pointer;
font-size: 18pt;
height: 55px;
margin: 0 15px;
overflow: hidden;
position: relative;
text-align: center;
transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
width: 55px;
}

footer .icon-wrap i{
color: white;
}

footer .icon-wrap .mdi {
color: #fff;
line-height: 55px;
text-align: center;
}
footer .icon-wrap .mdi.mdi-codepen {
font-size: 20pt;
}
footer .icon-wrap .icon{
border-radius: 50%;
}
footer .icon-wrap .icon:hover {
box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
transform: scale(0.9);

}

footer .icon-wrap .icon1:hover{
background-color: #0e76a8;
}
footer .icon-wrap .icon2:hover{
background-color: #C13584;
}
footer .icon-wrap .icon3:hover{
background-color: #3b5999;
}
footer .icon-wrap .icon5:hover{
background-color: #211F1F;
}
footer .icon-wrap .icon4:hover{
background-color: #be3a2c;
}

footer .icon-wrap .icon6:hover{
background-color: red;
}



footer .icon-wrap .icon:hover .mdi {
color: #fff;
}
footer .icon-wrap .icon:hover .mdi {
-webkit-animation: toBottomFromTop 0.3s forwards;
-moz-animation: toBottomFromTop 0.3s forwards;
animation: toBottomFromTop 0.3s forwards;
}
footer .footnote {
color: #8f9aa7;
font-size: 10pt;
margin-top: 15px;
opacity: 0.6;
}
footer .footnote .highlight {
color: #ff408f;
font-family: "Open Sans";
}

@media only screen and (max-width: 768px){
    footer .icon-wrap .icon {
        margin: 0 5px;
    }
}
