/*Float in transitions*/
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRight {
      0% {
        transform: translateX(+100%);
      }
      100% {
        transform: translateX(0);
      }
  }
  @keyframes slideInFromTop {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
  }
  @keyframes slideInFromBottom {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
  }
  
  /* body{
      background: radial-gradient(ellipse at bottom, #000000 0%, #20243a 100%) !important;
  } */
  
  /*CSS*/
  /*Section1*/
  .rel_block{
      height: 100vh;
      position: relative;
  }
  
  /* .section-3{
      background: radial-gradient(ellipse at bottom, #000000 0%, #20243a 100%) !important
  } */
  .section1{
      animation: 1s ease-out 0s 1 slideInFromTop;
      padding-top: 12%;
      color: #fff;
      text-align: center;
      font-size: 20px;
  }

  .heading2{
      margin-top: 5%;
  }
  
  .mottos{
    position: absolute;
    bottom: 0;
    padding: 0 5%;
    width: 100%;
    max-width: 1300;
  }

  /* .align-bottom{
      bottom: 0;
      
  }
   */
  .heading-top{
      display: block;
      text-align: center;
      margin-bottom: 2%;
      font-size: 3.5vw;
  }
  
  .p1{
      font-size: 18px;
  }
  
  .block{
      height: 27vh;
      background-color: #000;
      opacity: 0.8;
      color: #7ed6df;
      /*margin-right: 1%;*/
      bottom: 0;
      position: relative;
  }
  
  .info{
      z-index: -1;
      color: #fff;
      position: absolute;
      list-style-type: none;
      top: 0;
      left: 0;
      margin-top: 17%;
      font-size: 20px;
      height: 100%;
  }
  .info ul{
      list-style: none;
  }
  
  .item_title{
      height: 27vh;
  }
  #upper{
      background-color: #000;
      font-size: 40px;
      color: #fff;
      height: 27vh;
      width: 100%;
      padding-left: 0;
      /* margin: auto; */
      text-align: center;
      padding-top: 10vh;
      transition: 1s;
      border-bottom: 5px #fff solid;
      position: absolute;
      text-shadow: 0 0 12px #0082af;
      top: 0;
      left: 0;
      /* transition: "text align" 1s linear; */
      /* text-indent:20%; */
      
  }
  
  /* .u1{
      text-indent:12%;
  }
  
  .u2{
      text-indent:25%;
  }
  
  .u3{
      text-indent:29%;
  } */
  
  #wow{
      z-index: 100;
      height: 27vh;
      width: 100%;
      position: absolute;
      top: 0;
  }
  #wow:hover + #upper{
      padding: 0%;
      margin: 0%;
      padding-left: 2%;
      padding-top: 1%;
      transition: 1s;
      height: 10vh;
      font-size: 40px;
      /* padding: 1rem; */
      text-align: left;
      text-indent:0px;
      /* transform: translateX(-50%); */
      color: #7ed6df;
      /* transition: "text-align" 1s linear; */
  }
  
  .slide-bottom{
      animation: 1s ease-out 0s 1 slideInFromBottom;
  }
  .about-feature-1{
      /*margin-left: 1%;*/
      /* width: 33%; */
      animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  .about-feature-2{
      animation: 1s ease-out 0s 1 slideInFromBottom;
  }
  .about-feature-3{
      animation: 1s ease-out 0s 1 slideInFromRight;
  }
  
  
  /*Section 2*/
  .section2{
      padding-top: 2%;
      color: #fff;
      text-align: left;
      padding-right: 5%;
      font-size: 15px;
  }
  
  .no-padding{
      padding-left: 0;
      padding-right: 0;
  }
  .col-12{
      text-align: justify;
  }
  .we-are{
      font-weight: 1200;
  }
  .sec2heading{
    padding-top: 5%;
  }
  .img-positioning{
      padding-left: 10%;
  }
  .section2-img{
      width: 80%;
      /* height: 50vh;
      margin-top: 1%;
      margin-left: 10%; */
      border-radius: 25px;
  }
  .carousel-inner{
      padding-top: 0%;
      margin-top: 0%;
      position: absolute;
      top: 10%;
  }
  .carousel-text{
    font-size: 18px;
    line-height: 2rem;
  }

  .carousel-control-next{
      padding-left: 18%;
      /* position: absolute;
      top: 0; */
      visibility: hidden;
  }
  .carousel-control-prev{
      padding-right: 18%;
      /* position: absolute;
      top: 0; */
      visibility: hidden;
  }
  .carousel-control-next-icon{
    /* padding-left: 10%; */
    position: absolute;
    top: 25%;
}
.carousel-control-prev-icon{
    /* padding-right: 10%; */
    position: absolute;
    top: 25%;
}
  .rel{
      position: relative;
  }
  
  /* ####################### */
  /* Section 3 */
  
  .form-heading {
      text-align: center;
      font-size: 40px;
      margin-bottom: 3%;
  }
  
  
  /* .container {
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
  }
  
  .form {
      margin: 40px auto 0 auto;
      min-width: 95%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      color: #0c5ea1;
  }
  
  @media screen and (min-width: 600px) {
      .form {
          min-width: 500px;
      }
  }
  
  .form-group {
      max-width: 500px;
      width: 95%;
      position: relative;
      height: 50px;
      margin: auto;
      overflow: hidden;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  .message-box {
      height: 200px;
      width: 95%;
      max-width: 500px;
      position: relative;
      margin: auto;
      margin-bottom: 3%;
      margin-top: 3%;
      overflow: hidden;
  }
  
  .form-group input {
      width: 100%;
      height: 100%;
      border: none;
      color: #ffffff;
      padding-top: 20px;
      outline: none;
      background: #4e75af21;
      opacity: 0.5;
  }
  
  .message-box textarea {
      width: 100%;
      height: 100%;
      border: none;
      color: #ffffff;
      outline: none;
      background: transparent;
      opacity: 0.5;
      padding-top: 6%;
      overflow: auto;
  }
  
  
  .form-group input:focus{
      opacity: 0.7;
  }
  
  .message-box textarea:focus{
      opacity: 0.7;
  }
  
  .form-group label {
      margin: 0;
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      pointer-events: none;
      border-bottom: 1px solid #85abe4;
  }
  
  .message-box label {
      margin: 0%;
      position: absolute;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      border-bottom: 1px solid #85abe4;
      pointer-events: none;
      font-size: 30px;
  }
  
  .form-group label::after{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid #51a1e2;
      left: 0;
      bottom: -2px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
  }
  
  .message-box label::after{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid #51a1e2;
      left: 0;
      bottom: -2px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
  }
  
  .content-group{
      position: absolute;
      bottom: 0px;
      font-size: 1.5rem;
      left: 0%;
      transition: all 0.3s ease-in-out;
  }
  
  .content-message{
      position: absolute;
      bottom: 10px;
      font-size: 2rem;
      left: 0%;
      transition: all 0.3s ease-in-out;
  }
  
  .form-group input:focus + .lable-group .content-group,
  .form-group input:valid + .lable-group .content-group{
      transform: translateY(-100%);
      font-size: 18px;
      color: #51a1e2;
  }
  
  .form-group input:focus + .lable-group::after,
  .form-group input:valid + .lable-group::after {
      transform: translateX(0%);
  }
  
  .mail.has-invalid input:invalid + .lable-group .content-group{
      transform: translateY(-100%);
      font-size: 18px;
      color: #e91717;
  }
  
  
  .message-box textarea:focus ~ label .content-message,
  .message-box.has-value textarea ~ label .content-message{
      transform: translateY(-600%);
      font-size: 18px;
      color: #51a1e2;
  }
  
  .message-box textarea:focus ~ .lable-group::after,
  .message-box.has-value textarea ~ .lable-group::after {
      transform: translateX(0%);
  }
  
  
  .form-submit{
      max-width: 500px;
      width: 90%;
      position: relative;
      height: 50px;
      margin: auto;
  }
  
  .submit-button {
      float: right;
      background-color: transparent;
      border-radius: 0%;
      color: #99bae4;
  } */
  
  .container {
      margin: 0 auto;
      max-width: 1200px;
      width: 70%;
  }
  
  
  .invitation {
      width: 80%;
      margin: auto;
      color: #ffffffa3;
      font-size: 18px;
      text-align: center;
  }
  
  form {
      margin: 40px auto 0 auto;
      max-width: 500px;
  }
  
  input[type=text],
  input[type=email],
  textarea {
      margin: 5px 0;
        background: #1e242c00;
        border: 0;
        box-sizing: border-box;
        color: #fff;
        display: block;
        font-size: 12pt;
        /* margin-bottom: 3px; */
        outline: none;
        padding: 7px 15px;
        width: 100%;
        border: .1px solid #ffffffa3;
    }
  textarea {
      margin-bottom: 5px;
      min-height: 150px;
    }
  .button {
      background: transparent;
      color: #fff;
      float: right;
      font-size: 12pt;
      margin: 5px 0 0 0;
      outline: 0;
      padding: 10px 30px;
      border: 1px solid white;
    }
  .button:hover {
      background: #00767a;
    }
  #success {
      height: 0;
      overflow: hidden;
      position: relative;
      transition: height 0.25s;
      width: 100%;
    }
  #success.expand {
      height: 36px;
    }
  #success div {
      background: #00c381a8;
      border: 1px solid #157c59;
      color: #000000;
      font-size: 10pt;
      font-weight: 600;
      padding: 5px 0;
    }
  #close {
      cursor: pointer;
      font-size: 12pt;
      font-weight: 600;
      padding: 5px 15px;
      position: absolute;
      right: 0;
    }
  
  /*Responsiveness*/
  /* Section 2   */
  @media only screen and (max-width:1300px){
      #upper{
          font-size: 30px;
      }
      #wow:hover + #upper{
          transition: 1s;
          height: unset;
          font-size: 20px;
          padding: 0.5rem;
          text-align: left;
          color: #7ed6df;
      }
      .info{
          font-size: 15px;
          /* margin-top: 30%; */
          margin-left: 0;
          padding-left: 0;
      }
      /* .section1{
          padding-top: 20%;
      } */
      .heading-top{
          font-size: 40px;
      }
      .section2-img{
          margin-left: 15%;
          width: 70%;
          margin-top: 0;
      }
      .p2{
          width: 80%;
          margin-left: 10%;
          font-size: 15px;
          margin-top: 5px;
      }
  }
  @media only screen and (max-width:640px){
      .section1{
          padding-top: 20%;
      }
      .block{
          width: 100%;
          margin: 3%;
      }
      .info{
          font-size: 15px;
          margin-top: 20%;
      }
      /* .section2-img{
          visibility: hidden;
      } */
      .p2{
          width: 80%;
          margin-left: 10%;
          font-size: 15px;
          margin-top: 5px;
      }
  }

  @media only screen and (max-width:768px){
    /* .section2-img{
        visibility: hidden;
    }  */
    .carousel-control-next-icon{
        /* padding-left: 10%; */
        position: absolute;
        top: 10%;
    }
    .carousel-control-prev-icon{
        /* padding-right: 10%; */
        position: absolute;
        top: 10%;
    }
    .carousel-inner{
        position: absolute;
        top: 0%;
    }
    .carousel-text{

        font-size: unset;
        line-height: 1.5rem;
    }
    .rel_block{
        height: unset;
    }
    .mottos{
        position: relative;
        bottom: unset;
    }
    .block{
        margin-bottom: 5rem;
    }
    .carousel{
        margin-top: 5%;
    }
  }
  
  @media screen and (max-width: 600px){
  form {
      min-width: 95%;
  }
  }