@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing:border-box;
}

body{
    margin:0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif !important;
}

h1 {
    color: #7ed6df;
}

/* // for small sized devices - mobile phones */

@media only screen and (max-width:640px){
    h1 {
        font-size: 48px !important;
    }
}

/* Main Section */

.main{
    height: 100%;
}

@keyframes navbar-anim {
    from {top: -200px;}
    to {top: 0;}
}

.navbar{
    /* background-color:hsl(204 100% 5%) !important; */
    position: absolute;
    width: 100%;
    z-index: 100;
    animation-name: navbar-anim;
    animation-duration: 1.5s;
}

h1 {
    font-size: 80px;
    font-weight: 600;
}

.logo{
    width: 150px;
}

@keyframes main-top-anim {
    from {height: 100%;}
    to {height: 40%;}
}

@keyframes main-bottom-anim {
    from {height: 0;}
    to {height: 60%;}
}

.main-top {
    background-color: #00000088;
    height: 40%;
    animation-name: main-top-anim;
    animation-duration: 1.5s;
    position: relative;
    z-index: 10;
}

.main-bottom {
    background-color: #ffffff00;
    height: 60%;
    animation-name: main-bottom-anim;
    animation-duration: 1.5s;
    position: relative;
    z-index: 0;
}

.container-height-full {
    height: 100%;
    position: relative;
}

.heading-main-top {
    color : #ffffff;
    font-size: 75px;
    text-shadow: 0 0 12px #0082af;
    bottom: 0;
    position: absolute;
}

@keyframes heading-top-hider {
    0% {bottom: 0;}
    10% {bottom: 0;}
    100% {bottom: 100px;}
}

.heading-main-top-hider {
    /* background-color: hsl(204 100% 5%); */
    height: 100px;
    width: 100%;
    bottom: 100px;
    z-index: 20;
    position: absolute;
    animation-name: heading-top-hider;
    animation-duration: 1.5s;
}

@keyframes heading-main-bottom-anim {
    0% {top: -500px;}
    100% {top: 0px;}
}

.heading-light {
    color: #7ed6df;
    font-size: 70px;
    top: 0px;
    text-shadow : 0 0 10px #000;
    position: absolute;
    z-index: 1;
    animation-name: heading-main-bottom-anim;
    animation-duration: 1.5s;
}

.main-description {
    position: absolute;
    bottom: 150px;
    bottom: 20px;

}

.main-description-text {
    margin-bottom: 100px;
    animation: move-down-anim 2s;
    font-size: 16px;
    color: #dcdde1;
}

.down-arrow {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    top: 5px;
    color :#f5f6fa;
}

.down-text{
    color : #f5f6fa;
}

@keyframes move-down-anim {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#move-down {
    animation: move-down-anim 2.5s;
    text-decoration: none;
}


/* Bakcground Animation */
html{
    height: 100%;

}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
#canvas{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
}

/* Footer */
#footer {
    background-color: #00000088;
}