@media only screen and (max-width:640px){
    .main-description-text{
        font-size: 15px;
    }
    .main-top{
        height: 35% !important;
    }
}

/* Main Section */

@keyframes main-top-anim {
    from {height: 100%;}
    to {height: 40%;}
}

@keyframes main-bottom-anim {
    from {height: 0;}
    to {height: 60%;}
}

.main-top {
    background-color: #00000088;
    height: 40%;
    animation-name: main-top-anim;
    animation-duration: 1.5s;
    position: relative;
    z-index: 10;
}

.main-bottom {
    background-color: #ffffff00;
    height: 60%;
    animation-name: main-bottom-anim;
    animation-duration: 1.5s;
    position: relative;
    z-index: 0;
}

.container-height-full {
    height: 100%;
    position: relative;
}

.heading-main-top {
    color : #ffffff;
    font-size: 75px;
    text-shadow: 0 0 12px #0082af;
    bottom: 0;
    position: absolute;
}

@keyframes heading-top-hider {
    0% {bottom: 0;}
    10% {bottom: 0;}
    100% {bottom: 100px;}
}

.heading-main-top-hider {
    /* background-color: hsl(204 100% 5%); */
    height: 100px;
    width: 100%;
    bottom: 100px;
    z-index: 20;
    position: absolute;
    animation-name: heading-top-hider;
    animation-duration: 1.5s;
}

@keyframes heading-main-bottom-anim {
    0% {top: -500px;}
    100% {top: 0px;}
}

.heading-light {
    color: #7ed6df;
    font-size: 70px;
    top: 0px;
    text-shadow : 0 0 10px #000;
    position: absolute;
    z-index: 1;
    animation-name: heading-main-bottom-anim;
    animation-duration: 1.5s;
}

.main-description {
    position: absolute;
    bottom: 150px;
    bottom: 20px;

}

.main-description-text {
    margin-bottom: 100px;
    animation: move-down-anim 2s;
    font-size: 16px;
    color: #dcdde1;
}

.down-arrow {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    top: 5px;
    color :#f5f6fa;
}

.down-text{
    color : #f5f6fa;
}

@keyframes move-down-anim {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#move-down {
    animation: move-down-anim 2.5s;
    text-decoration: none;
}

/* Upcoming Events Section */

.upcoming-heading{
    color: #7ed6df;
    font-size: 36px;
    font-weight: 600 !important;
    text-align: center;
}

.event-card {
  overflow: hidden;
  border: none;
  background-color: transparent;
}


.container .card .face.face1{
  position: relative;
  display: flex;
  z-index: 1;
  transition: 1.4s;
  transform: all;
}


.container .card:hover .face.face1{
  transform: translateY(-900px);
  opacity: 0;
}

.container .card .face.face2{
  position: relative;
  display: flex;
  padding: 20px;
  transition: 1s;
  transform: translateY(150px);
}

.container .card:hover .face.face2{
  transform: translateY(-260px);
}

.card-title{
  color: #F64D4D;
  font-size: 25px !important;
  font-weight: 600;
}

.card-text{
  color: #dcdde1;
  font-size: 18px !important;

}

.card-content {
    width: 100%;
}



/* Previous Conducted Events */

.section-3{
    height: 100%;
    padding-top: 5%;
}

.event-heading{
    font-size: 36px;
    font-weight: 600 !important;
    padding-top: 10%;
    text-align: left;
    color: #7ed6df;
    margin-bottom: 30px;
}

.content{
    margin-top: 10%;
    /* width: 500px; */
}

.text{
    font-size: 16px;
    color: #dcdde1;
    font-weight: 100;
}

.car-img{
    border-radius: 20px;
}

/* Bakcground */

.random{
    /* background: white; */
    width: 450px;
    /* height: 300px; */
    position: absolute;
    top: 25%;
    /* right: 0; */
    z-index: 10000000;
    /* transform: rotate3d(.5,-.866,0,15deg) rotate(0deg); */
    /* display: flex; */
    animation: abc 1s linear forwards , flicker 5s linear 5s infinite;
}

@keyframes abc{
    from{
        right: -500px;
    }
    to{
        right: 0;
    }
}

@keyframes flicker{
    0%{
      opacity: 0;
    }

    6%{
        opacity: 1;
    }

    86%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


.prompt , .compiled , .output{
    color: white;
    background-color: #214261;
    /* right: -500px; */
    display: block;
    /* display: none; */
    /* padding: 5px; */
}



.code{
    color: white;
    background-color: #082e52;
    /* padding-left: 40px; */
}

/* .compiled div{
  background-color: #1f1f1f;
  padding: 5px;
}

.output div{
  background-color: #4285F4;
  padding: 5px;
} */

@media only screen and (max-width: 1050px) {
  .random {
    display: none;
  }
  .res-class{
    flex: 0 0 75% !important;
    max-width: 75%;
  }
}

@media (max-width: 900px){

}


.dynamic-text{
    animation: pulse 15s infinite;
}
/* .input{
    color: #D7BA7D;
} */

.output-code{
    /* padding-top: 5%; */
    padding-bottom: 5%;
}

/* .dynamic-quote{
    animation: pulse 15s infinite;
}

.dynamic-author{
    animation: pulse 15s infinite;
} */

@keyframes pulse {
	0% {
	color: transparent;
	}
	1% {
		color: transparent;
	}
	3% {
		color: white;
	}
	75% {
		color: white;
	}
	79% {
		color: transparent;
	}
	80% {
		color: white;
    }
    99% {
		color: white;
	}
	100% {
		color: transparent;
	}
}

.dynamic-text:after {
	content: "";
    animation: spin 15s linear infinite;
    color: #D7BA7D;
}

@keyframes spin {
  0% { content:"Heyy!!!"; }
  40% { content:"What was your first program?"; }
  70% { content:"Mine was..."; }
  100% { content:"Hello World..."; }
}
