<!-- Inheriting from base.html template -->
{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<!-- Add title tag and css specific to this page here -->
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
<title>About Us - Team .EXE</title>
{% endblock %}

{% block main_section %}
<!-- Content of the First section -->
<!--Heading Section-->
<div class="rel_block">
    <div class="section1 mx-auto">
        <h1 class="heading-top">Team .EXE</h1>
        <p class="p1 mb-5">
            We are the departmental team of Computer Science & Engineering Department for Techfest NIMBUS. <br>
            We are passionate about technology & our curiousity drives us towards the development of new things and
            taking new projects.
        </p>
    </div>
    <!--Cards Section-->
    <h1 class=" slide-bottom heading2">More About Us</h1>
    <div class="mottos">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 ">
                <div class="block about-feature-1">
                    <div id="wow"></div>
                    <div id="upper" class="u1">Our Vision & Mission</div>
                    <div class="info">
                        <ul>
                            <li>Professional as well as Personal growth.</li>
                            <li>Achieve excellence in Team work.</li>
                            <li>Code_to_build();</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 ">
                <div class="block about-feature-2">
                    <div id="wow"></div>
                    <div id="upper" class="u2"><span>What You Get</span></div>
                    <div class="info" >
                        <ul id="mob-set">
                            <li>Experience of working on Creative Projects.</li>
                            <li>Ability to cope with real life problems using programing.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 ">
                <div class="block about-feature-3">
                    <div id="wow"></div>
                    <div id="upper" class="u3">Our Ethics</div>
                    <div class="info">
                        <ul id="mob-set">
                            <li>We are Passionate</li>
                            <li>We are Creative</li>
                            <li>We are Developers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="mottos1">
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner carousel-inner1" role="listbox">
                <div class="carousel-item active text-justify p-4">
                    <div class="block about-feature-1">
                        <div id="wow"></div>
                        <div id="upper" class="u1">Our Vision & Mission</div>
                        <div class="info">
                            <ul class="mob-set">
                                <li>Professional as well as Personal growth.</li>
                                <li>Achieve excellence in Team work.</li>
                                <li>Code_to_build();</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-justify p-4">
                    <div class="block about-feature-2">
                        <div id="wow"></div>
                        <div id="upper" class="u2"><span>What You Get</span></div>
                        <div class="info">
                            <ul class="mob-set">
                                <li>Experience of working on Creative Projects.</li>
                                <li>Ability to cope with real life problems using programing.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-justify p-4">
                    <div class="block about-feature-3">
                        <div id="wow"></div>
                        <div id="upper" class="u3">Our Ethics</div>
                        <div class="info">
                            <ul class="mob-set">
                                <li>We are Passionate</li>
                                <li>We are Creative</li>
                                <li>We are Developers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>


{% endblock %}

{% block other_sections %}
<!-- All other sections are here -->

<!-- 2nd Section -->
<div class="section">
    <div class="section2">
        <h1 class="slide-bottom sec2heading">Why We are Different</h1>
        <div class="row mb-5" style="padding-top: 5%; padding-bottom: 3%;">
            <div class="col-lg-6 col-md-6 col-12 no-padding">
                <div class="img-positioning">
                    <!-- <img src="../static/images/home_2.jpg" class="img-fluid section2-img" alt=""> -->
                    <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/liCWk1HLnl8?autoplay=1&mute=1" class="section2-img">
                    </iframe> 
                </div>
            </div>


            <div class="col-lg-6 col-md-6 col-12why-diff">
                <div class="rel">
                    <div id="carouselContent" class="carousel slide carousel-text" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active text-justify p-4">
                                <p class="carousel-text">Each year we strive to raise the bar for technical advancement
                                    and showcasing the best of Computer Science and Software Development for anyone to
                                    see.
                                    When it comes to projects, we take up projects that are helpful to the students and
                                    thus result in a smooth life for
                                    the students in the college and we finish them using a corporate protocol of
                                    deadlines and online version control. The team also gives any of the students that
                                    want to display any or all of their projects an opportunity to present their ideas
                                    and applications through
                                    the portal of Team .EXE, along with any guidance if required.
                                </p>
                            </div>
                            <div class="carousel-item text-justify p-4">
                                <p class="carousel-text">We organize many events on the actual three days of Nimbus,
                                    which are aimed to provide a fun-filled but
                                    still quite informative experience of what Computer Science has to offer. These
                                    events range from an online
                                    competitive coding competition to an offline debugging race, and a gaming
                                    competition too. The members of the team
                                    work equally hard to be able to brandish the projects as something they’ve
                                    contributed to as well as to be a source
                                    of unforgettable memories on the Nimbus through the onsite events.Also, we aim to
                                    provide the freshers an outlook
                                    onto the world of programming and conduct many pre-nimbus workshops and classes for
                                    the first year</p>
                            </div>
                        </div>
                        <!-- <div class="carousel-item text-center p-4">
                                <p></p>
                           </div>
                           <div class="carousel-item text-center p-4">
                                <p>The team also gives any of the students that
                                    want to display any or all of their projects an opportunity to present their ideas and applications through
                                    the portal of Team .EXE, along with any guidance if required. Also, we aim to provide the freshers an outlook
                                    onto the world of programming and conduct many pre-nimbus workshops and classes for the first year</p>
                            </div> -->
                        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-12" style="margin-top: 6%;">
                    <img src="../static/images/home_2.jpg" class="img-fluid section2-img" alt="">
                </div> -->
        </div>
        <!-- <div class="row">
                <img src="../static/images/home_2.jpg" class="img-fluid section2-img" alt="">
                <p class="p2">
                    Not always you can see past the veil of refined outputs.
                    Sometimes everything has to be put in a package and delivered as the ultimate result. We do that. <br>
                    <span class="we-are">We are Team.EXE,</span> We are the departmental team representing the Computer Science and Engineering Department
                    at the Annual Technical Extravaganza of NIT Hamirpur, Nimbus. Each year we strive to raise the bar for technical
                    advancement and showcasing the best of Computer Science and Software Development for anyone to see. When it
                    comes to projects, we take up projects that are helpful to the students and thus result in a smooth life for
                    the students in the college; and we finish them using a corporate protocol of deadlines and online version control.
                    Not only this, we organize many events on the actual three days of Nimbus, which are aimed to provide a fun-filled but
                    still quite informative experience of what Computer Science has to offer. These events range from an online
                    competitive coding competition to an offline debugging race, and a gaming competition too. The members of the team
                    work equally hard to be able to brandish the projects as something they’ve contributed to as well as to be a source
                    of unforgettable memories on the Nimbus through the onsite events. The team also gives any of the students that
                    want to display any or all of their projects an opportunity to present their ideas and applications through
                    the portal of Team .EXE, along with any guidance if required. Also, we aim to provide the freshers an outlook
                    onto the world of programming and conduct many pre-nimbus workshops and classes for the first year, most recurrently
                    Linux installation and command line.
                </p>
            </div> -->
    </div>
</div>

<!-- 3rd Section -->
<div class="section section-3">
    <div class="container">
        <h1 class="form-heading">Contact Us</h1>

        <div class="invitation">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non molestias corporis totam consectetur sapiente
            ipsa
            mollitia quasi, beatae eius pariatur, culpa officiis vitae animi exercitationem. Id ut tempora nemo quam?
        </div>
    </div>

    <!-- <div class="container flex">
            <form action="https://formspree.io/f/mzbkywdk" method="post">
                <div class="form">
                    <div class="form-group">
                        <input type="text" name="Name" autocomplete="off" required>
                        <label for="Name" class="lable-group">
                            <span class="content-group">Name</span>
                        </label>
                    </div>

                    <div class="form-group mail">
                        <input type="email" name="E-mail" autocomplete="off" required>
                        <label for="E-mail" class="lable-group">
                            <span class="content-group">E-mail</span>
                        </label>
                    </div>

                    <div class="message-box">
                        <textarea name="Message" type="text"></textarea>
                        <label for="Message" class="lable-group">
                            <span class="content-message">Message</span>
                        </label>
                    </div>

                    <div class="form-submit">
                        <input type="submit" value="Submit" class="submit-button btn-dark btn btn-lg">
                    </div>
                </div>
            </form>
        </div> -->



    <div class="container">

        <form data-animation="pop-in" data-delay=".5s" method="POST" name=”EmailForm” id="contact-form">
            <input placeholder="Name" type="text" name="name" id='name_inp' required />
            <input placeholder="Enter email" type="email" name="email" required />
            <textarea placeholder="Your Message" type="text" name="message"></textarea>
            <div id="success">
                <div>
                    Your message was sent successfully. Thanks!😄
                    <span id="close" class="mdi mdi-close"></span>
                </div>
            </div>
            <input class="button" type="submit" id="submit" value="SUBMIT" />
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- Add all javascript code specific to this page here -->
<script src="{% static 'js/aboutus.js' %}"></script>

{% endblock %}