<!-- Inheriting from base.html template -->
{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <!-- Add title tag and css specific to this page here -->
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <title>About Us - Team .EXE</title>
{% endblock %}

{% block main_section %}
    <!-- Content of the First section -->
    <!--Heading Section-->
    <div class="container">
        <div class="section1 text-center">
            <h1 class="heading-top">Team .EXE</h1>
            <p class="subtext">Departmental team of Computer Science & Engineering Department for Techfest NIMBUS.</p> 
        </div>
    </div>
    <!--Cards Section-->
    <section class="mottos">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow about-feature-1" data-wow-duration="500ms" data-wow-delay=".3s">
                    <div class="about">
                        <div class="upper">Vision & Mission</div>
                        <div class="info">
                            <ul>
                                <li>Professional as well as Personal growth.</li>
                                <li>Achieve excellence in Team work.</li>
                                <li>Code_to_build();</li>
                            </ul>
                        </div>
                    </div>    
                </div>
                <div class="col-md-4 about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                    <div class="about">
                        <div class="upper">What You Get</div>
                        <div class="info">
                            <ul>
                                <li>Experience of working on Creative Projects.</li>
                                <li>Ability to cope with real life problems using programing.</li>
                            </ul>
                        </div>
                    </div>    
                </div>
                <div class="col-md-4 about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                    <div class="about">
                        <div class="upper">Our Ethics</div>
                        <div class="info">
                            <ul>
                                <li>We are Passionate</li><br>
                                <li>We are Creative</li><br>
                                <li>We are Developers</li>
                            </ul>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block other_sections %}
    <!-- All other sections are here -->

    <!-- 2nd Section -->
    <div class="section">
        <div class="section2">
            <h1 class="heading-top">Why We are Different</h1>
            <div class="row">
                <p class="p2">
                    Not always you can see past the veil of refined outputs. 
                    Sometimes everything has to be put in a package and delivered as the ultimate result. We do that. <br>
                    <span class="we-are">We are Team.EXE,</span> We are the departmental team representing the Computer Science and Engineering Department 
                    at the Annual Technical Extravaganza of NIT Hamirpur, Nimbus. Each year we strive to raise the bar for technical 
                    advancement and showcasing the best of Computer Science and Software Development for anyone to see. When it 
                    comes to projects, we take up projects that are helpful to the students and thus result in a smooth life for 
                    the students in the college; and we finish them using a corporate protocol of deadlines and online version control. 
                    Not only this, we organize many events on the actual three days of Nimbus, which are aimed to provide a fun-filled but 
                    still quite informative experience of what Computer Science has to offer. These events range from an online 
                    competitive coding competition to an offline debugging race, and a gaming competition too. The members of the team 
                    work equally hard to be able to brandish the projects as something they’ve contributed to as well as to be a source 
                    of unforgettable memories on the Nimbus through the onsite events. The team also gives any of the students that 
                    want to display any or all of their projects an opportunity to present their ideas and applications through 
                    the portal of Team .EXE, along with any guidance if required. Also, we aim to provide the freshers an outlook 
                    onto the world of programming and conduct many pre-nimbus workshops and classes for the first year, most recurrently 
                    Linux installation and command line. 
                </p>
                <img src="../static/images/home_2.jpg" class="section2-img" alt="">
            </div>
        </div>
    </div>

    <!-- 3rd Section -->
    <div class="section">
        <h1> Contact Form here</h1>
    </div>

{% endblock %}

{% block scripts %}
    <!-- Add all javascript code specific to this page here -->
    <script src="{% static 'js/aboutus.js' %}"></script>

{% endblock %}
