<!-- Inheriting from base.html template -->
{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <!-- Add title tag and css specific to this page here -->
    <link rel="stylesheet" href="{% static 'css/members.css' %}">
    <title>Members - Team .EXE</title>
{% endblock %}

{% block main_section %}
    <!-- Content of the First section -->
    <div class="container">
        <div class="row">
            <h3 class="heading">Alumni</h3>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <!-- Add all javascript code specific to this page here -->
    <script src="{% static 'js/members.js' %}"></script>

{% endblock %}
