<!-- Inheriting from base.html template -->
{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<!-- Add title tag and css specific to this page here -->
<link rel="stylesheet" href="{% static 'css/members.css' %}">
<title>Members - Team .EXE</title>
{% endblock %}

{% block main_section %}
<div class="container">
    <div class="members">
        <div class="row">
            <div class="col-12 mx-auto">
                <h2 class="heading mx-auto">Coordinators</h2>
            </div>
        </div>
        <div class="coordinator_section">
            <div class="row">
                <div class="col-md-2"></div>
                {% for member in coordinators %}
                <div class="col-md-4 text-center">
                    {% include 'member_card.html' %}
                </div>
                {% endfor %}
                {% for member in coordinators %}
                <div class="col-md-4 text-center">
                    {% include 'member_card.html' %}
                </div>
                {% endfor %}
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto">
                <h2 class="heading mx-auto">Executive Members</h2>
            </div>
        </div>
        <div class="executive_section">
            <div class="row">
                {% for member in executiveMembers %}
                <div class="col-md-3 text-center">
                    {% include 'member_card.html' %}
                </div>
                {% endfor %}
                {% for member in executiveMembers %}
                <div class="col-md-3 text-center">
                    {% include 'member_card.html' %}
                </div>
                {% endfor %}
                {% for member in executiveMembers %}
                <div class="col-md-3 text-center">
                    {% include 'member_card.html' %}
                </div>
                {% endfor %}
                {% for member in executiveMembers %}
                <div class="col-md-3 text-center">
                    {% include 'member_card.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<!-- Add all javascript code specific to this page here -->
<script src="{% static 'js/members.js' %}"></script>

{% endblock %}